@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");
/* * {
	margin: 0px;
	padding: 0px;
} */

body {
	/* background: greenyellow; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	/* font-family: "Cabin Sketch", cursive; */
}

h1 {
	text-align: center;
	font-family: "Cabin Sketch", cursive;
	font-weight: 400;
	text-transform: lowercase;
	color: #5dc3c5;
}

.section {
	align-self: center;
	display: flex;
	flex-direction: column;
	border-top: 0.1em solid #546360;
	/* overflow: auto; */
	/* background: red; */
	justify-content: center;
	width: 50%;
}

h3 {
	text-align: center;
}
.points {
	text-transform: uppercase;
	color: #000000;
}
