@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");
/* * {
	margin: 0px;
	padding: 0px;
} */

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
}

h1 {
	text-align: center;
	font-family: "Cabin Sketch", cursive;
	font-weight: 400;
	text-transform: lowercase;
	color: #5dc3c5;
}

.section {
	align-self: center;
	display: flex;
	flex-direction: column;
	border-top: 0.1em solid #546360;
	justify-content: center;
	width: 50%;
}

h3 {
	text-align: center;
}
.points {
	text-transform: uppercase;
	color: #000000;
}

.footerContainer {
	align-self: center;
	font-family: "Cabin Sketch", cursive;
	font-size: 15px;
	text-transform: capitalize;
	color: #5dc3c5;
	padding: 3% 0 3% 0;
}
